<div [ngClass]="{'on-show-user': showUserProfile}">
  <div class="row" id="msg-pane" #scrollElem>
    <regular-user-msg *ngFor="let text of strings" [data]='text' [avatar-image]='avatar'></regular-user-msg>
    <regular-bot-msg *ngFor="let text of strings" [data]='text'></regular-bot-msg>
  </div>
  <footer class="page-footer white">
    <div class="divider"></div>
    <div class="row">
      <div class="col s1 inline-avatar">
        <img [src]="avatar" class="circle avatar v-align" width="30px">
      </div>
      <div class="col s9">
        <input placeholder="Type a message" type="text" style="border: 0px" [(ngModel)]='msg' (keyup.enter)="add_msg()">
      </div>
      <div class="col s2 center-align">
        <img src="assets/chat-input-icons.jpg" class="v-align" width="90px">
      </div>
    </div>
  </footer>
</div>