/* Offset required as much as side-banner width */
main{
    padding-left: 250px;
}

@media only screen and (max-width : 992px) {
    main{
    padding-left: 0;
    }
}

/* Theme color for side-banner and other components */
.theme-bg {
    background-color: #274b61;
}

/* Theme font used */
@font-face {
    font-family: ThemeFont;
    src: url("assets/HelveticaNeue Light.ttf");
}

html {
    font-family: ThemeFont;
}

.avatar {
    border-radius: 50%; 
    border: 1px solid;
}

body {
    overflow: hidden;
}