.side-nav {
    top: 48px;
}

.user-name {
    font-size: 18px;
}

.dropdown-width {
    min-width: 160px;
}

.row {
    margin-bottom: 0px;
}

.dropdown-button {
    padding-left: 10px;
}
.bottom {
    position: fixed;
    bottom: 110px;
    margin-left: 100px;
}